@import '@/assets/styles/_variables.scss';

.header_nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  background: $black;
  position: relative;
  padding: 1.5rem 1rem;

  .header_left_side__container {
    img {
      height: 1.5rem;
      width: 100%;
      object-fit: contain;
    }
  }

  .header_right_side__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;

    @media (min-width: 1024px) {
      width: 100%;
    }

    .header__links {
      display: none;
      flex-direction: row;
      padding: 0 1rem;

      @media (min-width: 1024px) {
        display: flex;
      }

      li a {
        font-size: 1rem;
        font-weight: 500;
        color: $white;
        cursor: pointer;
        padding: 0 1rem;

        &:hover {
          color: $green;
          transition: ease .5s;
        }
      }
    }

    .header_search__container {
      display: none;
      flex-direction: row;
      justify-content: space-between;

      @media (min-width: 1024px) {
        display: flex;
      }

      .header_search__input {
        border: none;
        border-radius: 7px;
        padding: .5rem;
      }

      .header_search__button {
        background: $white;
        color: $black;
        border: none;
        border-radius: 7px;
        cursor: pointer;
        padding: 1rem;
        margin: 0 .5rem;

        &:hover {
          background: $green;
          transition: ease .5s;
        }
      }
    }

    .open_menu__icon {
      height: 2rem;
      width: 100%;
      object-fit: contain;

      @media (min-width: 1024px) {
        display: none;
      }
    }

    .menu__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      width: 0%;
      background: $dark-grey;
      position: fixed;
      top: 0;
      right: 0;
      transition: ease .25s;

      &.open {
        width: 100%;
      }

      .menu_title__container {
        width: 100%;
        text-align: end;

        .close_menu__icon {
          align-self: flex-end;
          height: 2rem;
          width: 1.5rem;
          object-fit: contain;
          padding: 1rem;
          cursor: pointer
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        li {
          text-align: center;
          padding: 1rem 0;
          color: $white;
          font-size: 1rem;
          font-weight: 700;
          width: 75%;
          border-radius: 0.5rem;
          margin: .5rem 0;
          cursor: pointer;

          &.active {
            color: $dark-grey;
            background: $green;
          }
        }
      }
    }
  }
}

.header_search_mobile__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;

  @media (min-width: 1024px) {
    display: none;
  }

  .header_search_mobile__input {
    border: 1px solid $black;
    border-radius: 7px;
    padding: 1rem;
  }

  .header_search_mobile__button {
    background: $black;
    color: $white;
    border: none;
    border-radius: 7px;
    padding: 1rem .75rem;
  }
}