@import '@/assets/styles/_variables.scss';

.product_details__container {
  position: absolute;
  top: 0;
  left: 0;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  margin: 1rem;
  background: $white;
  z-index: 2;

  .product_details__header {
    background: $black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem;
    height: auto;

    .product_details__header_icon {
      height: 1.75rem;
      object-fit: cover;
    }

    p {
      color: $white;
      text-align: center;
      font-size: 1.25rem;
      font-weight: 500;
    }

    button {
      background: none;
      border: none;

      img {
        height: 1.25rem;
        object-fit: cover;
      }
    }
  }

  .product_details__content {
    display: flex;
    flex-direction: column;
    background: $white;
    margin: .5rem;
    border: 1px solid $light-grey;

    .product_details__img {
      object-fit: cover;
    }

    .product_details__info {
      padding: 1rem .5rem;

      .product_details__info_details {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;

        h2 {
          color: $black;
          font-size: 1rem;
          font-weight: 700;
          padding-bottom: 1rem;
        }

        .product_details__info_details_detail {
          color: $dark-grey;
          font-size: .75rem;
          font-style: normal;
          font-weight: 400;
          padding-bottom: 1rem;
          border-bottom: 1px solid $black;
        }

        .product_details__info_details_price {
          color: $dark-grey;
          font-size: 1.25rem;
          font-weight: 500;
          padding: 1rem 0;
        }

        .product_details__info_details_seller {
          color: $light-grey;
          font-size: .75rem;
          font-weight: 400;
        }
      }

      .product_details__colors {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;

        h3 {
          color: $black;
          font-size: 1rem;
          font-weight: 700;
          padding-bottom: 1rem;
        }

        ul {
          display: flex;
          justify-content: space-around;
          padding-bottom: 1rem;
          border-bottom: 1px solid $black;

          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;

            span {
              display: block;
              height: 25px;
              width: 25px;
              border-radius: 50%;
              margin: .5rem 0;
              border: 2px solid $light-grey;

              &.active {
                outline: 3px solid $purple;
              }

              &.blue {
                background: $blue;
              }

              &.white {
                background: $white;
              }

              &.black {
                background: $black;
              }
            }

            p {
              color: $dark-grey;
              font-size: 13px;
              font-weight: 400;
            }
          }
        }
      }

      .product_details__sizes {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;

        h3 {
          color: $black;
          font-size: 1rem;
          font-weight: 700;
          padding-bottom: 1rem;
        }

        ul {
          display: flex;
          justify-content: space-around;
          padding-bottom: 1rem;
          border-bottom: 1px solid $black;

          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 20%;

            input {
              display: block;
              height: 25px;
              width: 25px;
              border-radius: 50%;
              margin: .5rem 0;
              border: 2px solid $light-grey;

              &:checked {
                accent-color: $purple;
              }
            }

            p {
              color: $dark-grey;
              font-size: 13px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }

  .product_details__add_to_bag_btn {
    width: 100%;
    color: $white;
    background: $purple;
    border: none;
    border-radius: 5px;
    padding: .75rem 0;
  }
}